#grid1, #grid2, #grid3, #grid4, #grid5{
    display: grid;
    grid-gap: 20px;
    margin-bottom: 20px;
}
div{border: 1px solid black;}
#grid1{
    width:640px;
    grid-template:repeat(2,50px) / repeat(3,1fr);
    justify-content: center;
    align-content: center;
}
#grid2{
    width:640px;
    grid-template:repeat(2,50px) / 100px 30% 1fr;
}
#grid3{
    width:640px;
    grid-template:repeat(2,50px) / repeat(2,50px 1fr);
}
